{{- $id := .Scratch.Get "id" -}}
{{- /* source file: data/papers.yaml */ -}}
{{- $entry := where $.Site.Data.papers.references "id" $id -}}

{{- /* if we can't find ID, then just print an error */ -}}
{{- if eq (len $entry) 0 -}}
Not found.
{{- end -}}

{{- /* IDs should be unique, but get only the first entry anyways. */ -}}
{{- range first 1 $entry -}}
{{- /* html doesn't like '.' and '/' inside attributes, so use md5 */ -}}
{{- $safeId := (md5 .id) -}}
<h1 id="{{- .id -}}">{{- .title -}}</h1>
<h5>{{- .citation | markdownify -}}</h5>
<p>{{- .abstract -}}</p>
{{- if .notes -}}
<p>Notes: {{ .notes | markdownify -}}</p>
{{- end -}}
<p>
{{- if .doi -}}
<a class="btn btn-dark mr-2"
    target="_blank"
    href="https://doi.org/{{- .doi -}}">
    <span class="-text-white">DOI</span></a>
{{- end -}}
{{- if .urlpdf -}}
<a class="btn btn-dark mr-2"
    target="_blank"
    href="{{- .urlpdf -}}">
    <span class="-text-white">PDF</span></a>
{{- end -}}
{{- if .urlpresentation -}}
<a class="btn btn-dark mr-2"
    target="_blank"
    href="{{- .urlpresentation -}}">
    <span class="-text-white">Presentation</span></a>
{{- end -}}
{{- if .urlcode -}}
<a class="btn btn-dark mr-2"
    target="_blank"
    href="{{- .urlcode -}}">
    <span class="-text-white">Code</span></a>
{{- end -}}
{{- if .urldata -}}
<a class="btn btn-dark mr-2"
    target="_blank"
    href="{{- .urldata -}}">
    <span class="-text-white">Data</span></a>
{{- end -}}
{{- if .bibtex -}}
<button
    class="btn btn-dark"
    type="button"
    data-toggle="collapse"
    data-target="#collapse-{{- $safeId -}}"
    aria-expanded="false"
    aria-controls="collapse-{{- $safeId -}}">BibTeX</button>
</p>

<div class="collapse col-12" id="collapse-{{- $safeId -}}">

```
{{ .bibtex | safeHTML }}
```

</div>
{{- end -}}
{{- end -}}
