{{ $links := .Site.Params.links }}
{{ define "footer-links-block" }}
<ul class="list-unstyled">
  {{ range . }}
  <li class="mb-2">
    <a class="text-white" data-toggle="tooltip" data-placement="top" title="{{ .desc }}"  target="_blank" rel="noopener" href="{{ .url }}" aria-label="{{ .name }}">
      {{ .name }}
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
<footer class="bd-footer bg-dark py-5 row d-print-none" style="min-height: max-content !important;">
  <div class="container-fluid mx-sm-5 bg-dark">
    <div class="row">
      <div class="col-5 text-left text-white mb-3">
        {{ with .Site.Params.copyright }}<small class="text-white">&copy; {{ now.Year}} {{ .}} {{ T "footer_all_rights_reserved" }}.</small>{{ end }}
        {{ with .Site.Params.documentation_license }}<br><small class="text-white">{{ T "footer_documentation_license" | safeHTML }}</small>{{ end }}
        {{ with .Site.Params.privacy_policy }}<small class="ml-1"><a href="{{ . }}" target="_blank" rel="noopener">{{ T "footer_privacy_policy" }}</a></small>{{ end }}
        {{ if not .Site.Params.ui.footer_about_disable }}
          {{ with .Site.GetPage "about" }}<p class="mt-2"><small><a href="{{ .RelPermalink }}">{{ .Title }}.</a></small></p>{{ end }}
	    {{ end }}
      </div>
      <div class="col-sm text-left text-white mb-3">
        <h3>Learn</h3>
        {{ with $links }}
        {{ with index . "learn"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-sm text-left text-white mb-3">
        <h3>Links</h3>
        {{ with $links }}
        {{ with index . "links"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-sm text-left text-white mb-3">
        <h3>Community</h3>
        {{ with $links }}
        {{ with index . "developer"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</footer>
