{{ with .Site.Params.algolia_docsearch }}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">docsearch({
  container: '#docsearch',
  appId: 'BH4D9OD16A',
  apiKey: '264ba4fef86f16f82d135282cbcffea4',
  indexName: 'mergetb',
  });</script>
{{ end }}
